[Package]
version: 2
depends: 
incremental: False

[Product]
type: localboot
id: dfn_audacity
name: Audacity
description: Editor und Rekorder für Audiodateien; vielfältige Bearbeitungsfunktionen (Mischen, Schneiden, ...) von beliebig vielen Audiospuren
advice: 
version: 2.1.1
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup32.opsiscript
uninstallScript: uninstall32.opsiscript
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[ProductProperty]
type: unicode
name: desktopicon
multivalue: False
editable: False
description: Icon on Desktop
values: ["no", "yes"]
default: ["no"]

[ProductProperty]
type: unicode
name: custom-post-install
multivalue: False
editable: False
description: Define filename for include script in custom directory after installation
values: ["none", "post-install.opsiinc"]
default: ["none"]

[ProductProperty]
type: unicode
name: custom-post-deinstall
multivalue: False
editable: False
description: Define filename for include script in custom directory after deinstallation
values: ["none", "post-deinstall.opsiinc"]
default: ["none"]

[Changelog]
dfn_audacity (2.1.1-2)
	* neue Upstreamversion
	* $ProductId$ wieder ohne 'dfn_'
	* Logo/Bitmap-Anzeige hinzugefügt
	* Suche nach Installationen hinzugefügt (https://opsi.wzb.eu/wiki/index.php/Uninstall-Registry_durchsuchen_und_Schl%C3%BCssel_ermitteln)
 -- Thomas Besser (archIT/KIT) <thomas.besser@kit.edu>, 03.11.2015

audacity (2.1.0-1)
	* initiales dfn_audacity Paket
 -- Thomas Besser (archIT/KIT) <thomas.besser@kit.edu>, 30.06.2015



























































